*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_part{
    color: white;
    display: flex;
    padding: 8px-1px;
    padding-left: 70px+30px;

  
}

 
.second_part{
    
    height: 14rem;
    width: 85.4rem;
    display: flex;
    margin-top: 1.7rem;
  
}
.Banker_part{
    background-color: whitesmoke;
    width: 17rem;
    // display: flex;
     margin-left: 7rem;
    border-radius: 6%;
}
.banker_details{
    display: flex;
    margin-top: 0.6rem;
    font-weight: 500;
     margin-left: 1.8rem;
    
}
.btn_part{
    background-color: rgb(11, 216, 154);
    height: 2.1rem;
    border-radius: 6%;
    display: flex;
    margin-top: 6rem;
    margin-left: 1rem;
 
    margin-right: 1rem;
    
}
.btn{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
  
}
.banker_name{
    display: flex;
    // margin: 0.3rem;
    font-weight: bold;
    font-size: x-large;
    margin-left: 1.8rem;
    margin-top: 1rem;  
}
.banker_moneypart{
    margin-left: 7rem;
}
.btn_bankpart{
    background-color: yellow;
    display: flex;
    width: 118px;
    margin-left: 12px;
    margin-top: 5.7rem;
    border-radius: 7%;
}
.btn_work{
    background-color: rgba(35, 35, 206, 0.747);
    display: flex;
    width: 118px;
    margin-left: 140px;
    margin-top: -2.4rem;
    border-radius: 7%;
}

#btn-btn_work{
color: white;
}
.subpart{
    display: flex;
}
.laptop_part{
    display: flex;
    margin-left: 2rem;
    margin-top: 0.5rem;
    width: 12rem;
    height: 2rem;
    font-weight: 600;
    padding: 0.2rem;
}
.features_style{
    display: flex;
    font-weight: bold;
    font-size: large;
    margin-left: 2rem;
    margin-top: 1rem;
}
.screen_style{
    flex-direction: column;
    display: flex;
    
    margin-left: 2rem;
    font-weight: 500;
    font: 1em sans-serif;
}
.final_part{
    display: flex;
    // background-color: aqua;
    height: 14rem;
    width: 78.4rem;
    margin-top: 1.7rem;
}
.computer_part{
    display: flex;
    width: 74rem;
    background-color: rgb(245, 245, 245);
    margin-left: 2rem;
    // margin-right: 5rem;
    border-radius: 20px;
//    background-color: black;
}
.laptop_pic{
    width: 3.3rem;
}
.laptop_heading{
    display: flex;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
    // background-color: aliceblue;
}
.laptop_subheading{
    display: flex;
    flex-direction: column;
    font: 1em sans-serif;
    margin-top: 1rem;
    font-size: 1.1rem;
    
}
.laptop_description{
    // background-color: white;
    margin-left: 6rem;
}
.laptop_nos{
    display: flex;
    font-weight: bold;
    font-size: 1.3rem;
     margin-left: 13.3rem;
    margin-top: 3rem;
}
.finalbtn_part{
    background-color: rgb(102, 245, 245);
    height: 2rem;
    width: 5rem;
    font-weight: bolder;
    display: flex;
    margin-top: 7rem;
    border-radius: 7%;

//    margin: 6rem;
// position: absolute;
// margin-left: -4rem;
}
#dialog{
    display: none;
    
}




